In [ ]:
a= "Sachine Tendulkar"
print (a.upper()) 
print (a.lower())
print (a.swapcase())

SACHINE TENDULKAR
sachine tendulkar
sACHINE tENDULKAR

In [ ]:
print (a.islower())
print (a.isupper())
print (a.isdigit())

False
False
False

In [ ]:
print (a.isalpha()) # isalpha define any alpahabets in variable in a. space will be excluded. 
print (a.isalnum()) # isalnum define any numebr or alphabate in variable a, space will be excluded.

False
False

In [ ]:
a= "Sachin Tendulkar"
print (a[7]) #indexing

T

In [ ]:
#start : end : interval

In [ ]:
print (a[3:10])

hin Ten

In [ ]:
print (a[::])

Sachin Tendulkar

In [ ]:
print (a[::3]) #Eg: sachin tendulkar S skips 3 letters then calculate h and so on.

Sh nlr

In [ ]:
print (a[::-1]) # Reverse string important question in interview.

rakludneT nihcaS

In [ ]:
print (a[-1])

r

In [ ]:
a.index("n")

5

In [ ]:
a.index("a")

1

In [ ]:
a= "Sachin Tendulkar"
a.index("a",2,)

14

In [ ]:
a.rindex("a") # R refers to finding reversal index. # Sachin Tendulkar

14

In [ ]:
a.find("n")

5

In [ ]:
a.find("a")

1

In [ ]:
a.find("z") # index refers to find the alphabetic number where find use to run a program with out failing . (incase alphabet not exist output will be -1)

-1

In [ ]:
a= "Sachin Tendulkar"

In [ ]:
a.split("a")

['S', 'chin Tendulk', 'r']

In [ ]:
a.split("a",1)

['S', 'chin Tendulkar']

In [ ]:
a.replace("a","$")

'S$chin Tendulk$r'

In [ ]:
a.replace("a","%",1)

'S%chin Tendulkar'

In [ ]:
a= "Sachin Tendulkar"
print(a.startswith("S"))
print(a.endswith("r"))

True
True

In [ ]:
## 30-04-2023


a=["dinesh", "20", "chennai"] ## LIST
print (type(a))

<class 'list'>

In [ ]:
print(isinstance (a,list))

True

In [ ]:
a=["dinesh", "20", "chennai"]
print(min(a))

20

In [ ]:
print(max(a))

dinesh

In [ ]:
a=["dinesh", "20", "chennai"]    ## "" inside double codes is known as strings.  multiple characters inside the double codes is known as list.
a[0]

'dinesh'

In [ ]:
print(a[::-1]) ## reverse index

['chennai', '20', 'dinesh']

In [ ]:
a=["dinesh", "20", "chennai"]
print(a[::-2])

['chennai', 'dinesh']

In [ ]:
a=["dinesh", "20", "chennai"]
print(sorted(a))

['20', 'chennai', 'dinesh']

In [ ]:
a=["dinesh", "20", "chennai"]
print(len(a))

3

In [ ]:
a=["dinesh", "20", "chennai"]
a.reverse()

In [ ]:
a

['chennai', '20', 'dinesh']

In [ ]:
a= ["one", "two", "three"] 
a.append("test") ## append refers to adding variable inside the codes in the last line

In [ ]:
a

['one', 'two', 'three', 'test']

In [ ]:
a.insert(1,"demo") ## insert refers to inserting a character.

In [ ]:
a

['one', 'demo', 'two', 'three', 'test']

In [ ]:
a.remove("test")

In [ ]:
a

['one', 'demo', 'two', 'three']

In [ ]:
del a [1]

In [ ]:
a

['one', 'two', 'three']

In [ ]:
##shallow copy (same memory) ##imp quetions 

a= [1,2,3]
b=a 
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
##deep copy (different memory)
a= [1,2,3]
b=a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
a= ("dinesh", "20", "chennai") ## tuple
print(type(a))

<class 'tuple'>

In [ ]:
print(isinstance(a,tuple)) ##in list we can add uppend or remove but in tuple we cannot modify. tuple is faster then list.

True

In [ ]:
print(max(a))

dinesh

In [ ]:
print(min(a))

20

In [ ]:
print(sorted(a))

['20', 'chennai', 'dinesh']

In [ ]:
print(len(a))

3

In [ ]:
a= ("dinesh", "20", "chennai")
a.index("dinesh")

0

In [ ]:
##pop helps to add last value from the a
a= [1,2,3]
b=a.pop()
print(a)
print(b)

[1, 2]
3

In [ ]:
a={1,1,1,1,1,2,2,2,2,3,3,3,4,5,6}
print(type(a))

<class 'set'>

In [ ]:
print(min(a))

1

In [ ]:
print(max(a))

6

In [ ]:
print(sorted(a))

[1, 2, 3, 4, 5, 6]

In [ ]:
print (len(a))

6

In [ ]:
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
### with out using  reverse string need to take last letter in the word. 
### we need to remove the duplicate value in list. 
a= "test@gmail.com"
## need to seprate the sentence eg: test .

In [ ]:
a= {1,2,3,4,5}
b={3,4,5,6,7}
a.intersection(b) ## intersection define same value in a and b

{3, 4, 5}

In [ ]:
a.union(b) ## unions defines all the both the values in a and b

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a= {1,2,3,4,5}
b={3,4,5,6,7}
b.difference(a) ## differencaion refers to unique values

{6, 7}

In [ ]:
a.difference(b)

{1, 2}

In [ ]:
a= {1,2,3}
b={1,2,3,4,5,6}
print(b.issubset(a)) # shows false if all the value of b is not mentioned in a
print(a.issubset(b)) # shows through all the values mentioned in b

False
True

In [ ]:
print(b.issuperset(a)) # shows false in if a does not have more value then b by including all the values 
print(a.issuperset(b)) # shows true if b value has more value then a

True
False

In [ ]:
a= {"name" : "dinesh", "location": "Madurai" , "age" : "20"}
print(min(a))
print(max(a))
print(sorted(a))
print(len(a))
print(a.keys())
print(a.values())
print(a.items())

age
name
['age', 'location', 'name']
3
dict_keys(['name', 'location', 'age'])
dict_values(['dinesh', 'Madurai', '20'])
dict_items([('name', 'dinesh'), ('location', 'Madurai'), ('age', '20')])

In [ ]:
a["name"]

'dinesh'

In [ ]:
a.get("name")

'dinesh'

In [ ]:
print(a.get("demo"))

None

In [ ]:
print(a.get("demo", "unga appa")) #

unga appa

In [ ]:
a

{'name': 'dinesh', 'location': 'Madurai', 'age': '20'}

In [ ]:
a["demo"]= "test" # adding of index

In [ ]:
a

{'name': 'dinesh', 'location': 'Madurai', 'age': '20', 'demo': 'test'}

In [ ]:
del a["demo"]

In [ ]:
a

{'name': 'dinesh', 'location': 'Madurai', 'age': '20'}

In [ ]:
a

{'name': 'dinesh', 'location': 'Madurai', 'age': '20'}

In [ ]:
a

{'name': 'dinesh', 'location': 'Madurai', 'age': '20'}

In [ ]:
a= {"name": "dinesh", "name" : "kumar"} ##  dictionary data sets only show the last value and removes the all duplicate values.

In [ ]:
print(a)

{'name': 'kumar'}

In [ ]:
### operators

In [ ]:
## arithematic

In [ ]:
a= 5
b= 4

In [ ]:
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b) ## reminder modulus 
print(a//b) ## quotient ## floor division

9
1
20
625
1.25
1

In [ ]:
## assignment operator
a=4

In [ ]:
## relational operators
a= 5
b=5
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
False
False
True
True

In [ ]:
##logial

In [ ]:
print(True and True)
print(True and False)
print(True and False)
print(not True)
print(not False)

True
False
False
False
True

In [ ]:
##with out using  reverse string need to take last letter in the word. (Assignment 1)

In [ ]:
a= "Itachi Uchiha"
last_letters = [word[-1] for word in a.split()]
print(last_letters)

['i', 'a']

In [ ]:
##we need to remove the duplicate value in list. 
##a= "test@gmail.com" (assignemnt 2)

In [ ]:
a= "test@gmail.com"
a= ''.join(set(a))
print(a)

.tag@lscimoe

In [5]:
a= [1,2,3,4,4,5,2,1,3]
print(a)
a=set(a)
a=list(a)
print(a)

[1, 2, 3, 4, 4, 5, 2, 1, 3]
[1, 2, 3, 4, 5]

In [14]:
a= "test@gmail.com"
a=a.split("@")[0]
print(a)
a= "test@gmail.com"
a=a.split("@")[1]
a=a.split(".")[0]
print(a)
a= "test@gmail.com"
a=a.split(".")[1]
print(a)

test
gmail
com